/CongNgheJava/Buoi1/MyProject1/nbproject/private/
/CongNgheJava/Buoi1/MyProject1/build/
/CongNgheJava/Buoi1/Buoi1_BaiTapQuaTrinh/nbproject/private/
/CongNgheJava/Buoi1/Buoi1_BaiTapQuaTrinh/build/
/CongNgheJava/Buoi1/Buoi1/build/
/CongNgheJava/Buoi1/Buoi1/nbproject/private/
