a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 20%;
  margin-left: 0.625%;
  text-align: center;
  line-height: 3;
  color: black;
}
li:last-child a {
  margin-right: 0;
}
a:link a:focus a:visited {
  background: yellow;
}
a:hover {
  background: red;
}
a:active {
  background: blue;
}
@font-face {
  font-family: "MyFont";
  src: url("https://example.com/myfont.woff2") format("woff2"),
    url("https://example.com/myfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
